<main>
      <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <p>
          <a href="/CreateEvent" class="btn btn-primary my-2">Crear Nuevo Evento</a>
        </p>
      </div>
    </div>
  </section>

<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/creados">Eventos creados</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/Myevents">Mis eventos</a>
  </li>
</ul>